/********************
YOUR STYLES
*******************/

article {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .5);
}

h1 {
    background: rgba(0, 0, 0, .5);
    margin: auto;
    padding: 1em;
    color: white;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: gold;
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
}

.me {
    padding-top: 4em;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

body {
    margin: auto;
}

p {
    padding: 1em;
    display: block;
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 40px;
}

.links {
    text-align: center;
    display: block;
    margin: 0 auto;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: auto;
}


/* Starting Nav */

nav a:link,
nav a:visited {
    background: rgba(30, 144, 225, .5);
    color: white;
    text-decoration: none;
    padding: 1em;
    transition: all .5s;
}


/* Ending Nav */

nav a:hover,
nav a:active {
    background: rgba(225, 225, 225, .25);
    color: dodgerblue;
    margin-left: .5em;
}

ul {
    padding: 1em;
}


/* Masonry Styles */

main {
    display: block;
    margin: 0 auto;
    width: 50%;
}

section {
    border: 5px solid rgba(225, 225, 225, 1);
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    margin-top: 2em;
    margin-bottom: 1em;
    display: inline-block;
    width: 400px;
    height: 300px;
}

.venti {
    height: 400px;
    width: 200;
}


/*First Frame*/

.char1,
.char9 {
    background: orange;
    box-shadow: inset 0 0 8px #fff;
    display: inline-block;
    padding: .25em;
    border-bottom: 20px solid #fff;
    transition: transform .5s;
}


/*Last Frame*/

.char1:hover {
    transform: rotate(5deg)scale(.75);
}

.char9:hover {
    transform: rotate(15deg)scale(1.25);
}

.char15:hover {
    transform: rotate(10deg);
}


/*Keyframe Animation*/

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

article img:hover {
    animation: rubberBand 1s infinite;
}


/********************
MEDIA QUERIES
*******************/


/* Desktop */

@media (min-width: 1200px) {}


/* Tablet */

@media (min-width: 768px) {}


/* Mobile */

@media (min-width: 480px) {}