/********************
YOUR STYLES
*******************/

article {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .5);
}

h1 {
    background: rgba(0, 0, 0, .5);
    display: block;
    margin: auto;
    padding: 1em;
    color: white;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: gold;
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
}

h3 {
    font-size: 2em;
    color: gold;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.me {
    width: 600px;
    height: 600px;
    padding-top: 4em;
    display: block;
    margin: 0 auto;
}

body {
    margin: auto;
}

p {
    padding: 1em;
    display: block;
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 40px;
}

.links {
    text-align: center;
    display: block;
    margin: 0 auto;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: auto;
}


img {
    object-fit: cover;
    display: block;
    margin: 0 auto;
    max-height: 400px;;
    max-width: 400px;

}

li img {
    background: rgba(225,225,225,.5);
    border-radius: 50%;
    display: block;
    width: 150px;
    height: 150px;
    align-content: center;
}

.venti {transition: all .2s ease-in-out;}
.venti:hover { transform: scale(1.1)}




/* LINKS */


/* Starting Nav */

nav a:link,
nav a:visited {
    text-decoration: none;
    padding: 1em;
    transition: all .5s;
}


/* Ending Nav */

nav a:hover,
nav a:active {
    margin-left: .5em;
}

ul {
    padding: 1em;
}


/*LINKS END*/











/* Masonry Styles */

main {
    display: block;
    margin: 0 auto;
    width: 50%;
}

section {
    margin-top: 2em;
    margin-bottom: 1em;
    display: block;
    width: 400px;
    height: 300px;
}

.venti {
    object-fit: fill;
    height: 400px;
    width: 200;
}


/*First Frame*/

.char1,
.char2,
.char3,
.char4,
.char5,
.char6,
.char7,
.char9,
.char10,
.char11,
.char12,
.char13{
    color: white;
    display: inline-block;
    transition: transform .5s;
}


/*Last Frame*/

.char1:hover {
    color: gold;
    transform: rotate(360deg)scale(1.25);
}

.char2:hover {
    color: gold;
    transform: rotate(360deg)scale(.75);
}

.char3:hover {
    color: gold;
    transform: rotate(360deg)scale(.75);
}

.char4:hover {
    color: gold;
    transform: rotate(360deg)scale(.75);
}

.char5:hover {
    color: gold;
    transform: rotate(360deg)scale(.75);
}

.char6:hover {
    color: gold;
    transform: rotate(360deg)scale(.75);
}

.char7:hover {
    color: gold;
    transform: rotate(360deg)scale(.75);
}

.char9:hover {
    color: gold;
    transform: rotate(360deg)scale(1.25);
}

.char10:hover {
    color: gold;
    transform: rotate(360deg)scale(.75);
}

.char11:hover {
    color: gold;
    transform: rotate(360deg)scale(.75);
}

.char12:hover {
    color: gold;
    transform: rotate(360deg)scale(.75);
}

.char13:hover {
    color: gold;
    transform: rotate(360deg)scale(.75);
}


/*Keyframe Animation*/

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

li img:hover {
    animation: rubberBand 1s infinite;
}


/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media screen 
  /* 2560px = 160em */
  and (max-width: 160em)
  /* 1280px = 80em */
  and (min-width: 80em) { 
  
  /* Temporary Styling. Add your own. */


}

/* Tablet */
@media screen 
   /* 1279 = 79.9375em */  
  and (max-width: 79.9375em)
   /* 768px = 160em */
  and (min-width: 48em)  {
  
  /* Temporary Styling. Add your own. */


}

/* Mobile */
@media screen
  /* 767px = 47.9375em */
  and (max-width: 47.9375em)
  /* 320px = 20em */
  and (min-width: 20em) { 
  
  /* Temporary Styling. Add your own. */
